.custom-logo {
  .site-meta-headline { text-align: center; }

  .brand { background: none; }

  .site-title {
    margin: 10px auto 0;
    font-size: 24px;
    color: $black-deep;
    a { border: none; }
  }


}

.custom-logo-image {
  margin: 0 auto;
  padding: 5px;
  max-width: 150px;
  background: white;
}

.logo-small{
  max-height: 50px !important; 
}